<app-header></app-header>

<!-- ======= About Section ======= -->
<section id="about" class="about mt-5">
  <div class="container-fluid">
    <h1 class="h1-responsive font-weight-bold text-center my-2">About College</h1>
    <!--Section description-->

    <div class="row pt-5 pb-5">
      <div
        class="col-lg-5 align-items-stretch video-box"
        style="
          background-image: url('https://cdn.pixabay.com/photo/2018/01/17/07/06/laptop-3087585_960_720.jpg');
        "
      >
       
      </div>

      <div
        class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch"
      >
        <div class="content">
          <h3>
            <strong>shree Bhagya College for Women</strong>
          </h3><br><br>

          <ul>
            <li>
              <i class="bx bx-check-double"></i>

              Shree Bhagya College for Women
              located in heart of the city at Bangalore entrance is a landmark
              building with a reckoning tradition of 10 years. It is a
              well-known institution in Bengaluru that has been serving to
              empower women students and enable them to acquire skills for a
              better future. The College has a healthy mix of all classes and
              categories and caters to the educational needs of young women at
              an affordable cost.
              <br><br>
                         Though the college is a private and self-financing college, it has
              successfully and voluntarily completed three cycles of accreditation
              by the NAAC with ‘A’ grade in the third cycle. This has contributed
              to the quality enhancement of all the operations of the college.
            </li>
          </ul>
          <p class="font-italic">
           
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<app-footer></app-footer>
