<app-header></app-header>

<section id="courses">
  <div class="container course pb-5 pt-5">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Courses</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">
      </p>
    <div class="row">
      <div class="col-md-4">
        <div class="card box">
          <div
            class="bg-image hover-overlay ripple"
            data-mdb-ripple-color="light"
          >
            <img
              src="https://cdn.pixabay.com/photo/2016/09/08/04/12/programmer-1653351_960_720.png"
              class="img-fluid"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15)"
              ></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Information Technology</h5>
            <p class="card-text">
              Information Technology means the use of hardware, software, services, 
              and supporting infrastructure to manage and deliver information using voice, data, and video.
            </p>
            <!-- <a href="#!" class="btn btn-primary">Read More</a> -->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card box">
          <div
            class="bg-image hover-overlay ripple"
            data-mdb-ripple-color="light"
          >
            <img
              src="https://cdn.pixabay.com/photo/2017/09/25/11/55/cyberspace-2784907_960_720.jpg"
              class="img-fluid"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15)"
              ></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Electronic Engineering</h5>
            <p class="card-text">
              Electronics engineers design and develop electronic equipment, 
              including broadcast and communications systems, such as portable music players and 
              Global Positioning System (GPS) devices.
               Many also work in areas closely related to computer hardware.
            </p>
            <!-- <a href="#!" class="btn btn-primary">Read More</a> -->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card box">
          <div
            class="bg-image hover-overlay ripple"
            data-mdb-ripple-color="light"
          >
            <img
              src="https://cdn.pixabay.com/photo/2020/12/05/14/08/man-5806012_960_720.jpg"
              class="img-fluid"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15)"
              ></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Civil Engineering</h5>
            <p class="card-text">
              Managing, designing, developing, creating and maintaining construction projects.
               Conducting on-site investigations and analyzing data. 
              Assessing potential risks, materials and costs.
            </p>
            <!-- <a href="#!" class="btn btn-primary">Read More</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
